bottle==0.12.25
waitress==2.1.2
func-timeout==4.3.5
prometheus-client==0.17.1

# DrissionPage (replacing Selenium)
drissionpage==1.7.0

# HTTP requests and related dependencies
requests==2.32.3
certifi==2024.07.04
websockets==11.0.3

# Only required for Linux and macOS
xvfbwrapper==0.2.9; platform_system != "Windows"

# Only required for Windows
pefile==2023.2.7; platform_system == "Windows"